<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mt-2">
      <h5 class="font-weight-bold mb-3 text-start">My channels</h5>
      <div class="card mb-4">
        <div class="card-body">
          <div data-mdb-perfect-scrollbar-init style="position: relative; height: calc(100vh - 150px); overflow-y: scroll;">
            <ul class="list-unstyled mb-0">
              <%= turbo_stream_from current_user %>
              <%= turbo_frame_tag "all_channels_for_user" do %> 
                <%= render partial: 'memberships/list_channels_for_user', collection: memberships_for_user, as: :membership %>           
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mt-2">
      <h5 class="font-weight-bold mb-3 text-start">Other channels</h5>
      <div class="card mb-4">
        <div class="card-body">
          <div data-mdb-perfect-scrollbar-init style="position: relative; height: calc(100vh - 150px); overflow-y: scroll;">
            <ul class="list-unstyled mb-0">
              <%= turbo_frame_tag "all_channels_without_user" do %>   
                <%= render partial: 'memberships/list_channels_without_user', collection: memberships_without_user, as: :channel %>           
              <% end %> 
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>