<div class="container-fluid">
<%= turbo_stream_from current_user %>
  <%= turbo_frame_tag "all_channels_for_user" do %> 
    <%= render partial: 'memberships/list_channels_for_user', collection: @memberships_for_current_user, as: :membership %>           
  <% end %>

 <%= turbo_frame_tag "all_channels_without_user" do %>   
  <%= render partial: 'memberships/list_channels_without_user', collection: @channels, as: :channel %>           
<% end %>  

</div>