<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>  

    <tbody>
      <% @channels.each do |channel| %>
        <tr>
          <td><%= link_to "#{channel.name }", channel_path(channel) %> </td>
          <td><%= channel.private %></td>
          <td>
            <%= link_to 'Delete channel', channel_path(channel), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"}, class: 'btn bg-warning-subtle rounded-0' %>
          </td>
          <td><%= link_to 'Edit channel', edit_channel_path(channel), class: 'btn bg-warning-subtle rounded-0' %></td>
          <td>
            <% if current_user.channels.include?(channel) %>
              <%= link_to 'Leave the channel', channel_membership_path(channel, @channel_memberships[channel.id]), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"}, class: 'btn bg-warning-subtle rounded-0' %>
            <% else %>
              <%= form_with model: [channel, @channel_memberships[channel.id]]  do |form| %>
                <%= form.hidden_field :channel_id, value: channel.id %>                   
                <%= form.submit "Join the channel", class: 'btn bg-warning-subtle rounded-0' %>
              <% end %>
            <% end %>             
          </td>          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>