<div class="container-fluid">
  <div class="row">
  <% unless user_has_channels? %>
  <h4>You don't have any channels yet. 
  <%= link_to "Please add a channel.", channels_path%> </h4>
  <% else %>
    <div class="col-md-2" >
      <%= turbo_stream_from current_user %>
        <%= turbo_frame_tag "all_memberships_for_user" do %>                
          <%= render partial: 'memberships/list_memberships_for_user', collection: @memberships_for_user, as: :membership %>           
        <% end %>
    </div>
        
    <div class="col-md-8 border border-warning border-top-0 border-bottom-0" >

      <%= turbo_stream_from @channel %>
        <%= turbo_frame_tag "all_messages" do %>                
          <%= render partial: 'messages/list_messages', collection: @messages, as: :message %>           
        <% end %>

      <%= render 'messages/message_form', channel: @channel, message: Message.new %>  
    </div>
    <div class="col-md-2 border border-warning border-top-0 border-bottom-0" >
      <%= turbo_frame_tag "all_memberships" do %> 
        <%= render partial: 'memberships/list_memberships', collection: @memberships, as: :membership%>
      <% end %>   
    </div>
    <% end %> 
  </div>
</div>

