<%= turbo_frame_tag channel do %> 
  <div class="border-bottom p-3 d-flex justify-content-between align-items-center"> 
    <%= channel.name%>

    <%= form_with model: [channel, Membership.new], data: { turbo_frame: "_top" } do |form| %>
      <%= form.hidden_field :channel_id, value: channel.id %>                   
      <%= form.submit "Join the channel", class: 'btn bg-warning-subtle rounded-0' %>
    <% end %>
  </div>
<% end %>