<div class="container-fluid">
  <div class="row">
    <div class="container mt-3">
      <div class="card">
        <div class="card-header">
          <h5 class="font-weight-bold mb-0 text-start">Edit Profile</h5>
        </div>
        <div class="card-body">
          <%= form_with model: @current_user do |form| %>
            <div class="mb-3">
              <%= form.label :login %>
              <%= form.text_field :login, class: 'form-control', placeholder: "Enter your login" %>
            </div>

            <div class="mb-3">
              <%= form.label :phone_number %>
              <%= form.text_field :phone_number, class: 'form-control', placeholder: '+380 xxx xx xx xx' %>
            </div>

            <%= form.submit "Save", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
